#####################################################################################################
##### NSPANEL ESPHOME created by Blackymas - https://github.com/Blackymas/NSPanel_HA_Blueprint  #####
##### ESPHOME CORE - Page Blank                                                                 #####
##### PLEASE only make changes if it is necessary and also the required knowledge is available. #####
##### For normal use with the Blueprint, no changes are necessary.                              #####
#####################################################################################################

---
display:
  - id: !extend disp1
    on_touch:
      then:
        - lambda: |-
            if (page_id == 8) {  // Page Settings
              switch (component_id) {
                case 9:  // Reboot button
                  if (!touch_event) {  // Release
                    ESP_LOGW("display.on_touch", "Restarting ESPHome");
                    arch_restart();
                  }
                  break;
              }
            }

number:
  - id: !extend display_brightness
    on_value:
      then:
        - lambda: |-
            disp1->set_component_value("settings.brightslider", int(x));
            if (current_page->state == "settings") disp1->set_component_text_printf("bright_text", "%i%%", int(x));

  - id: !extend display_dim_brightness
    on_value:
      then:
        - lambda: |-
            disp1->set_component_value("settings.dimslider", int(x));
            if (current_page->state == "settings") disp1->set_component_text_printf("dim_text", "%i%%", int(x));

script:
  - id: !extend boot_progress_dump
    then:
      - lambda: |-
          ESP_LOGCONFIG("script.boot_progress_dump", " - Page Settings:        %s", is_boot_step_completed(BOOT_STEP_PAGE_SETTINGS) ? "Completed" : "PENDING");

  - id: !extend page_changed
    then:
      - lambda: |-
          if (current_page->state == "settings") page_settings->execute();

  - id: page_settings
    mode: restart
    then:
      - lambda: |-
          set_component_visibility->execute("settings", "lbl_sleep", false);
          set_component_visibility->execute("settings", "bt_sleep", false);

  - id: !extend set_var_string
    then:
      - lambda: |-
          if (component == "settings.lbl_bright")
            display_wrapped_text->execute("settings", "lbl_bright", val.c_str(), display_mode->state == 2 ? 25 : 10);
          else if (component == "settings.lbl_dim") {
            delay(10*disp1->queue_size()+tf_uart->available());
            display_wrapped_text->execute("settings", "lbl_dim", val.c_str(), display_mode->state == 2 ? 25 : 10);
            boot_progress->execute(BOOT_STEP_PAGE_SETTINGS, "Page Settings");
          }

  - id: !extend stop_all
    then:
      - script.stop: page_settings
...
