#####################################################################################################
##### NSPANEL ESPHOME created by Blackymas - https://github.com/Blackymas/NSPanel_HA_Blueprint  #####
##### ESPHOME CORE - HARDWARE - RELAYS                                                          #####
##### PLEASE only make changes if it is necessary and also the required knowledge is available. #####
##### For normal use with the Blueprint, no changes are necessary.                              #####
#####################################################################################################

---
substitutions:
  BOOT_STEP_HW_RELAYS: '1UL << 7'

globals:
  - id: relay1_local
    type: bool
    restore_value: true
    initial_value: 'false'
  - id: relay1_fallback
    type: bool
    restore_value: true
    initial_value: 'false'

  - id: relay2_local
    type: bool
    restore_value: true
    initial_value: 'false'
  - id: relay2_fallback
    type: bool
    restore_value: true
    initial_value: 'false'

  ##### Relay icons #####
  - id: home_relay1_icon
    type: char[4]
    restore_value: true
    initial_value: ''
  - id: home_relay1_icon_color
    type: uint16_t
    restore_value: true
    initial_value: '65535'
  - id: home_relay2_icon
    type: char[4]
    restore_value: true
    initial_value: ''
  - id: home_relay2_icon_color
    type: uint16_t
    restore_value: true
    initial_value: '65535'

script:
  - id: !extend boot_progress_dump
    then:
      - script.execute:
          id: boot_progress_dump_item
          step: ${BOOT_STEP_HW_RELAYS}
          step_name: HW Relays

  - id: !extend boot_sequence
    then:
      - script.execute:
          id: set_component_font_color
          component_id: home.chip_relay1
          color: !lambda return id(home_relay1_icon_color);
      - script.execute:
          id: set_component_font_color
          component_id: home.chip_relay2
          color: !lambda return id(home_relay2_icon_color);

  - id: !extend page_home
    then:
      - script.execute:
          id: refresh_relays
          relay_mask: 3

  - id: refresh_relays
    mode: restart
    parameters:
      relay_mask: uint8_t
    then:
      - if:
          condition:
            - lambda: return (relay_mask & 1);
          then:
            - script.execute:
                id: set_component_text
                component_id: home.chip_relay1
                text: !lambda 'return relay_1->state ? id(home_relay1_icon) : "\uFFFF";'
      - if:
          condition:
            - lambda: return (relay_mask & 2);
          then:
            - script.execute:
                id: set_component_text
                component_id: home.chip_relay2
                text: !lambda 'return relay_2->state ? id(home_relay2_icon) : "\uFFFF";'

  - id: !extend set_component_font_color  # Defined by nspanel_esphome_core_hw_display.yaml
    then:
      - lambda: |-
          if (component_id == "home.chip_relay1") id(home_relay1_icon_color) = color;
          else if (component_id == "home.chip_relay2") id(home_relay2_icon_color) = color;

  - id: !extend set_var_bool
    then:
      - lambda: |-
          if (component == "relay1_local_control") id(relay1_local) = val;
          else if (component == "relay2_local_control") id(relay2_local) = val;
          else if (component == "relay1_fallback") id(relay1_fallback) = val;
          else if (component == "relay2_fallback") {
            id(relay2_fallback) = val;
            boot_progress->execute(${BOOT_STEP_HW_RELAYS}, "HW Relays");
          }

  - id: !extend set_var_int
    then:
      - lambda: |-
          if (component == "relay_settings" and val > 0) {
            // Relay 1 local control enabled (Bit 0)
            id(relay1_local) = (val & (1 << 0)) != 0;

            // Relay 1 fallback mode enabled (Bit 1)
            id(relay1_fallback) = (val & (1 << 1)) != 0;

            // Relay 2 local control enabled (Bit 4)
            id(relay2_local) = (val & (1 << 4)) != 0;

            // Relay 2 fallback mode enabled (Bit 5)
            id(relay2_fallback) = (val & (1 << 5)) != 0;

            boot_progress->execute(${BOOT_STEP_HW_RELAYS}, "HW Relays");
          }

  - id: !extend set_var_string
    then:
      - lambda: |-
          if (component == "relay1_icon")
            copyStringToCharArray(id(home_relay1_icon), val);
          else if (component == "relay2_icon")
            copyStringToCharArray(id(home_relay2_icon), val);

  - id: !extend stop_all
    then:
      - script.stop: refresh_relays

switch:
  ##### PHYSICAL SWITCH 1 #####
  - name: Relay 1
    platform: gpio
    id: relay_1
    pin:
      number: 22
    restore_mode: RESTORE_DEFAULT_OFF
    on_turn_on:
      then:
        - if:
            condition:
              - lambda: return id(relay1_local);
            then:
              - lambda: id(button_left_state) = true;
              - script.execute:
                  id: refresh_relays
                  relay_mask: 1
              - script.execute:
                  id: refresh_hardware_buttons_bars
                  button_mask: 1
    on_turn_off:
      then:
        - if:
            condition:
              - lambda: return id(relay1_local);
            then:
              - lambda: id(button_left_state) = false;
              - script.execute:
                  id: refresh_relays
                  relay_mask: 1
              - script.execute:
                  id: refresh_hardware_buttons_bars
                  button_mask: 1

  ##### PHYSICAL SWITCH 2 ######
  - name: Relay 2
    platform: gpio
    id: relay_2
    pin:
      number: 19
    restore_mode: RESTORE_DEFAULT_OFF
    on_turn_on:
      then:
        - if:
            condition:
              - lambda: return id(relay2_local);
            then:
              - lambda: id(button_right_state) = true;
              - script.execute:
                  id: refresh_relays
                  relay_mask: 2
              - script.execute:
                  id: refresh_hardware_buttons_bars
                  button_mask: 2
    on_turn_off:
      then:
        - if:
            condition:
              - lambda: return id(relay2_local);
            then:
              - lambda: id(button_right_state) = false;
              - script.execute:
                  id: refresh_relays
                  relay_mask: 2
              - script.execute:
                  id: refresh_hardware_buttons_bars
                  button_mask: 2

time:
  - id: !extend time_provider
    on_time:
      - seconds: 0
        then:
          - script.execute:
              id: refresh_relays
              relay_mask: 3
...
