#####################################################################################################
##### NSPANEL ESPHOME created by Blackymas - https://github.com/Blackymas/NSPanel_HA_Blueprint  #####
##### ESPHOME - Page Settings                                                                   #####
##### PLEASE only make changes if it is necessary and also the required knowledge is available. #####
##### For normal use with the Blueprint, no changes are necessary.                              #####
#####################################################################################################

---
substitutions:
  BOOT_STEP_PAGE_SETTINGS: 28
  PAGE_SETTINGS_ID: 8
  TAG_PAGE_SETTINGS: nspanel.page.settings

display:
  - id: !extend disp1
    on_touch:
      then:
        - lambda: |-
            if (
                  !touch_event and  // Only act with release
                  page_id == ${PAGE_SETTINGS_ID} and
                  component_id == 9  // Reboot button
                ) {
              screen_power->turn_off();
              App.safe_reboot();
            }

esphome:
  platformio_options:
    build_flags:
      - -D NSPANEL_HA_BLUEPRINT_PAGE_SETTINGS

number:
  - id: !extend display_brightness
    on_value:
      then:
        - lambda: |-
            disp1->set_component_value("settings.brightslider", int(x));
            if (current_page_id == ${PAGE_SETTINGS_ID})
              disp1->set_component_text_printf("bright_text", "%i%%", int(x));

  - id: !extend display_dim_brightness
    on_value:
      then:
        - lambda: |-
            disp1->set_component_value("settings.dimslider", int(x));
            if (current_page_id == ${PAGE_SETTINGS_ID})
              disp1->set_component_text_printf("dim_text", "%i%%", int(x));

script:
  - id: !extend boot_nextion
    then:
      - lambda: |-
          // Display settings
          boot_log->execute("Boot", "Sending display settings");
          disp1->send_command_printf("brightness=%i", int(display_brightness->state));
          disp1->set_component_value("settings.brightslider", int(display_brightness->state));
          feed_wdt_delay(${DELAY_DEFAULT});
          disp1->send_command_printf("brightness_dim=%i", int(display_dim_brightness->state));
          disp1->set_component_value("settings.dimslider", int(display_dim_brightness->state));
          feed_wdt_delay(${DELAY_DEFAULT});
          disp1->send_command_printf("brightness_sleep=%i", int(display_sleep_brightness->state));
          disp1->send_command_printf("wakeup_page_id=%" PRIu8, get_page_id(wakeup_page_name->state.c_str()));
          boot_progress->execute(5);
          feed_wdt_delay(${DELAY_DEFAULT});

  - id: !extend event_from_display
    then:
      - lambda: |-
          if (params[0] == "settings") {
            // CSV Format: settings,<event>,<value>
            // params[0]=page, params[1]=event, params[2]=value

            if (params_count != 3) {
              ESP_LOGW("${TAG_PAGE_SETTINGS}", "Bed params");
              return;
            }

            uint8_t value = atoi(params[2].c_str());

            if (value > 100) {
              ESP_LOGW("${TAG_PAGE_SETTINGS}", "Invalid value: %" PRIu8, value);
              return;
            }

            if (params[1] == "bright") {
              auto call = id(display_brightness).make_call();
              call.set_value(value);
              call.perform();
            } else if (params[1] == "dim") {
              auto call = id(display_dim_brightness).make_call();
              call.set_value(value);
              call.perform();
            } else {
              ESP_LOGW("${TAG_PAGE_SETTINGS}", "Unknown event: %s", params[1].c_str());
            }
          }

  - id: !extend page_change
    then:
      - lambda: |-
          if (new_page_id == ${PAGE_SETTINGS_ID})
            page_settings->execute();

  - id: page_settings
    mode: single
    then:
      - lambda: |-
          if (current_page_id == ${PAGE_SETTINGS_ID}) {
            disp1->hide_component("lbl_sleep");
            disp1->hide_component("bt_sleep");
          }

  - id: !extend stop_page_constructors
    then:
      - lambda: page_settings->stop();
...
