#####################################################################################################
##### NSPANEL ESPHOME created by Blackymas - https://github.com/Blackymas/NSPanel_HA_Blueprint  #####
##### ESPHOME - Page Confirm                                                                    #####
##### PLEASE only make changes if it is necessary and also the required knowledge is available. #####
##### For normal use with the Blueprint, no changes are necessary.                              #####
#####################################################################################################

---
substitutions:
  mui_please_confirm: "Please confirm"
  BOOT_STEP_PAGE_CONFIRM: 13
  PAGE_CONFIRM_ID: 26
  TAG_PAGE_CONFIRM: nspanel.page.confirm

esphome:
  platformio_options:
    build_flags:
      - -D NSPANEL_HA_BLUEPRINT_PAGE_CONFIRM

globals:
  #### Localization (MUI) ####
  - id: mui_please_confirm
    type: std::string
    restore_value: true
    initial_value: '"${mui_please_confirm}"'
    max_restore_data_length: 25

script:
  - id: !extend action_component_text
    then:
      - lambda: |-
          if (page == "mem" and component == "mui_please_confirm") {
            id(mui_please_confirm) = txt;
          }

  - id: !extend page_change
    then:
      - lambda: |-
          if (current_page_id == ${PAGE_CONFIRM_ID})
            page_confirm->execute();

  - id: page_confirm
    mode: single
    then:
      - lambda: |-
          if (current_page_id == ${PAGE_CONFIRM_ID} and is_device_ready_for_tasks())
            disp1->set_component_text("confirm.title",
                                      wrapText(id(mui_please_confirm).c_str(),
                                                15,
                                                id(mui_bytes_per_char)).c_str());

  - id: !extend stop_page_constructors
    then:
      - script.stop: page_confirm

...
